audio {
display :none;
}


#player{
	background: rgba(255, 255, 255, 0.6);
	width: 350px;
	margin: 0 auto;
	padding: 24px;
}
#player .controls{
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	background : url(audio.png) white no-repeat;
	display : inline-block;
	font : 0/0;
	color : transparent;
	width : 42px;
	height :42px; 

}

#player .infos{
	font-size : 1.2em;
	font-family : Roboto
}

#player .titre{
	font-size: 2em;
}
#player .artiste, #player .album{
	font-weight: bold;
	color: rgba(0,0,0,0.4)
}

#player .album{
	margin-bottom: 24px;
}
#player .playpause{
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}



#player .playpause.play{ background-position : 0px 0px;}
#player .playpause.pause{ background-position : 0px -42px;}
#player .stop{ background-position : -42px 0px;}
#player .vol-icon{ background-position : -84px 0px;}
#player .vol-icon.high{ background-position : -84px 0px;}
#player .vol-icon.medium{ background-position : -84px -42px;}
#player .vol-icon.low{ background-position : -84px -86px;}
#player .vol-icon.mute{ background-position : -84px -130px;}
#player .vol-icon.mute2{ background-position : -84px -168px;}

#player .duration{
	width : 100px;
	height : 16px;
	border :13px solid white;
	background : lightgrey;
	position : relative;
}

#player .listened{
height : 16px;
background : rgba(0,0,0,0.4);
width : 3px;
position : relative ;
}

#player .d-cursor{
width : 3px;
background : black;
position : absolute;
top:0;
right : 0;
height : 16px;
cursor : e-resize;
}

#player .volume{
height : 42px;
width : 50px;
padding : 0 16px;
background : white;
}
#player .volzone{
height : 12px;
background : grey;
margin-top : 14px;
position:relative;
border-radius : 8px;
}

#player .volzone .cursor{
width : 8px;
height : 8px;
border-radius : 50%;
border : 2px solid black;
background : white;
position : absolute;
left : center
}
